server:
  port: 8762
eureka:
  instance:
    hostname: peer2
  client:
    service-url:
      defaultZone: http://peer1:8761/eureka # 设置与Eureka Server交互的地址，查询服务和注册服务都需要依赖这个地址。
spring:
  application:
    name: microservice-discovery-eureka-ha